
.navbar-custom>li{
    line-height: 45px;
}
.carousel-inner .item{
    min-height: 650px;
    max-height: 650px;
}

.navbar-custom{
    color: #FFFFFF;
    border-radius: 0;
    margin-bottom: auto;
}

.carousel-h1 {
    margin-top: -5px;
    margin-bottom: 5px;
    color:#B3BABD;
}
.carousel p  {
    color:silver;
    font-size: 1.5em;
}
.carousel-div {
    height: 110px;
}
.btn-large {
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-brand {
    float: right;
    margin-right: 105px;
}
.navbar-img {
    width: 95px;
    float: right;
    position: absolute;
    top: 2px;
    border-radius: 12px;
}
.navbar-h1 {
    float: right;
    color:#4E4A4A;
    font-weight: lighter;
}

.instructions-container {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
}

.span4{
    width: 30%;
    
}

.inner-instructions {
    padding-bottom: 40px;
}

.jumbotron-container {
    width: 100%;
}

.join-jumbotron {
    background: url("img/background.jpg");
    color: #FFF;
    padding: 10px;
    
    text-align: center;
}
.join-btn{
    width: 150px;
    font-size: 1.2em
}
.user-pic {
    margin-top: 10px;
    width: 100px;
    display: inline-block;
    border-radius: 50px
}

.search-area {
    margin-top: 0;
    width: 100%;
    background: url("img/bike-background.jpg");
    text-align: center;
    margin-top: 20px;

}
.form-inline > .form-group {
    vertical-align: top;
}

.search-input {
    width: 200px;
}
#map {
    border-radius: 35px;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    /*border: 1px solid grey;*/
    
      }
.search-labels {
    width: 700px;
    background-color: transparent;
    font-style: oblique;
    /*color:bisque;*/
    color: #757582;
    color:black;
    opacity: 0.9;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0;
    
}
.search-labels h1,h2{
    font-weight: lighter;
}

.search-area {
    margin-top: 0;
}



